.button {
    background-color: #333333;
    border: none;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #979797;
    outline: none;
    cursor: pointer;
  }