@import "../../../assets/scss/variables";
.post-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 300px;

  .header {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }

  .subtitle {
    color: gray;
    font-size: 16px;
    margin: 0;
  }

  .details-link {
    background-color: $primary;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
  }
}
